.main-content-container { 
    max-height: 78vh;
    overflow-y: auto;
}
.company-intro{
    /* height: 202px; */
    width: 100%;
    display: flex;
    gap: 12px;
}
.company-intro > div{
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(124, 0, 244, 0.1);
    gap: 5px;
}
.company-intro > .info{
    width: 36.55%;
    padding: 21px 30px;
}
.action-btns{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.info-heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
}
.company-intro > .info > .info-details{
    margin: 16px 7px 0px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.company-intro > .info > .info-details > div{
    display: flex;
    align-items: center;
    width: 100%;
}
.company-intro > .info > .info-details  svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 8px 3px 0px;
    flex-shrink: 0;
}
.company-intro > .info > .info-details span{
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    word-break: break-all;
}

.company-intro > .info > .info-details .contact-company {
    background: var(--primary-color);
    width: fit-content;
    border-radius: 6px;
    padding: 0px 6px;
}

.company-intro > .info > .info-details .contact-company > svg {
    width: 22px;
    height: 22px;
}

.company-intro > .info > .info-details .contact-company > span {
    color: #FFFFFF;
}

.company-intro > .info > .info-details .contact-company .profile-link {
    background: var(--primary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.company-intro > .info > .info-details .contact-company .profile-link svg {
    margin: 0px;
}

.company-intro > .subscription{
    width: 34.53%;
    padding: 21px 30px;
}
.company-intro > .subscription > .sub-details{
    margin: 23px 0px 0px 0px;
}
.company-intro > .subscription > .sub-details > .category{
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: center;
    background: rgba(124, 0, 244, 1);
    box-shadow: 0px 0px 5px 2px rgba(124, 0, 244, 0.1);
}
.company-intro > .subscription > .sub-details > .time-stamp{
    width: 180px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: center;
    opacity: 0px;
    color: rgba(124, 0, 244, 1);
    background: rgba(124, 0, 244, 0.1);
}
.company-intro > .subscription > .sub-details > .price{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}
.company-intro > .admin{
    width: 28.36%;
    padding: 21px 30px;
}
.company-intro > .admin > .detail {
    margin-top: 14px;
}
.company-intro > .admin > .detail > .admin-detail{
    margin-top: 10px;
}
.company-intro > .admin > .detail > .admin-detail svg{
    margin: 3px 8px 3px 0px;
}
.company-intro > .admin > .detail > .admin-detail span{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.contact-info{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 28px;
    
}
.contact-info > div{
    width: 50%;
    height: 328px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(124, 0, 244, 0.1);
    overflow-y: scroll;
    /* overflow-x: hidden; */
}


.contact-info > div::-webkit-scrollbar-track
{   margin-top: 34px 0px;
	border-radius: 10px;
	background-color: rgba(224, 224, 224, 1);
}

.contact-info > div::-webkit-scrollbar
{
	width: 11px;
	background-color: #F5F5F5;
}

.contact-info > div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:rgba(124, 0, 244, 1);
}



.contact-info > div > .detail {
    margin-top: 20px; 
} 
.contact-details{
    /* width: 720px; */
    height: 101px;
    margin-top: 10px;
    padding: 16px;
    border-radius: 10px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(100, 14, 241, 0.1);

}

.contact-details > div > span{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.contact-details > div > a{
    width: 100px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    left: 603px;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    opacity: 0px;
    background: rgba(124, 0, 244, 1);
    box-shadow: 0px 0px 5px 2px rgba(124, 0, 244, 0.1);
}
.contact-details > div > a > span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: center;

}
.contact-details > .tele-email {
    gap: 10px;
    margin-top: 9px;
}
.contact-details > .tele-email > div{
    gap: 5px;
}
.contact-details > .tele-email > div > span{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.invoices-list{
    height: 298px ;
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(124, 0, 244, 0.1);
    overflow-y: scroll;
}

.invoices-list::-webkit-scrollbar-track
{   margin-top: 34px 0px;
	border-radius: 10px;
	background-color: rgba(224, 224, 224, 1);
}

.invoices-list::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.invoices-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:rgba(124, 0, 244, 1);
}

.invoices-list > div > span{
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoices-list > div > a{
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 24px 32px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(124, 0, 244, 1);
    box-shadow: 0px 0px 10px 0px rgba(12, 71, 175, 0.3);

}

.invoices-list > .container{
    margin-top: 20px;
    /* overflow-y: scroll; */
}

@media screen and (max-width: 1919px) {
    .info-heading {
        font-size: 1.25rem;
    }
    .company-intro > .info > .info-details span {
        font-size: 13px;
    }
    .company-intro > .subscription > .sub-details > .time-stamp {
        width: 170px;
        font-size: 14px;
    }
    .company-intro > .subscription > .sub-details > .price {
        font-size: 16px;
    }
    .company-intro > .admin > .detail > .admin-detail span {
        font-size: 16px;
    }
    .contact-details {
        /* width: 520px; */
    }
    .contact-details > div > span {
        font-size: 16px;
    }
    .contact-details > div > a > span {
        font-size: 12px;
    }
    .contact-details > div > a > svg{
        width: 18px !important;
        height: 18px !important;
    }
    .action-btns > a > svg{
        width: 35px !important;
        height: 35px !important;
    }
    .contact-details > .tele-email > div > span {
        font-size: 14px;
    }
    .contact-details > .tele-email > div > svg{
        width: 20px !important;
        height: 20px !important;
    }
    .invoices-list > div > span {
        font-size: 21px;
    }
    thead tr > th {
        font-size: .875rem;
    }
    tr td {
        font-size: 14px;
    }
    td .btn{
        font-size: .8rem !important
    }
    td .btn > svg{
        width: 18px !important;
        height: 18px !important;
    }
    .invoices-list > div > a {
        width: 170px;
        padding: 20px 28px;
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1402px) {
    .time-stamp {
        width: 170px !important;
        font-size: 14px !important;
        height: 35px;
        padding: 4px !important ;
    }
    .info-heading{
        line-height: 23px;
    }
}