{% load static %}

<table class="order-details-table" id="activity-user-table">
    <thead>
        <th>
            <div>
                <span>First Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Last Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Job Title</span>
            </div>
        </th>
        <th>
            <div>
                <span>Company</span>
            </div>
        </th>
        <th>
            <div>
                <span>Location</span>
            </div>
        </th>
        <th>
            <div>
                <span>Activity</span>
            </div>
        </th>
        <th>
            <div>
                <span>Created by</span>
            </div>
        </th>
        <th>
            <div>
                <span>Action On</span>
            </div>
        </th>
        <th>
            <div>
                <span>Actions</span>
            </div>
        </th>
    </thead>
    <tbody>
    </tbody>
</table>