{% load static %}

<table class="order-details-table" id="prospection-list-table">
    <thead>
        <th>
            <div>
                <span>Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Results</span>
            </div>
        </th>
        <th>
            <div>
                <span>Created By</span>
            </div>
        </th>
        <th>
            <div>
                <span>Last Updated</span>
            </div>
        </th>
        <th>
            <div>
                <span>Actions</span>
            </div>
        </th>
    </thead>
    <tbody>
    </tbody>
</table>