{% load static %}
<div style="max-height: calc(100vh - 200px); overflow-y: auto;">
    <table class="order-details-table" id="saved-search-table">
        <thead>
            <th>
                <div>
                    <span>Current Position</span>
                </div>
            </th>
            <th>
                <div>
                    <span>Location</span>
                </div>
            </th>
            <th>
                <div>
                    <span>Search Via</span>
                </div>
            </th>
            <th>
                <div>
                    <span>Created By</span>
                </div>
            </th>
            <th>
                <div>
                    <span>Last Updated</span>
                </div>
            </th>
            <th>
                <div>
                    <span>Actions</span>
                </div>
            </th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>