{% load static %}

<table class="order-details-table" id="shared-from-list-table">
    <thead>
        <th>
            <div>
                <span>First Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Last Name</span>
            </div>
        </th>
        <th>
            <div>
                <span>Job Title</span>
            </div>
        </th>
        <th>
            <div>
                <span>Company</span>
            </div>
        </th>
        <th>
            <div>
                <span>Location</span>
            </div>
        </th>
        <th>
            <div>
                <span>Shared To</span>
            </div>
        </th>
        <th>
            <div>
                <span>Shared on</span>
            </div>
        </th>
        <th>
            <div>
                <span>Actions</span>
            </div>
        </th>
    </thead>
    <tbody>
    </tbody>
</table>