.auth-section {
    max-width: 1920px;
}

.signup-section {
    background: #FFFFFF;
    /* box-shadow: 0px 0px 5px 2px #C5C5C51A; */
    max-width: 1513px;
    width: 78.8%;
    height: fit-content;
    border-radius: 30px;
    padding: 15px 35px;
    margin: 20px;
    border: 1px solid #E3E8F9;
}

.signup-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.signup-section-header h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 0px;
}

.signup-section-header span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: var(--text-field-heading);
}

.input-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    height: 45px;
    border: none;
    border-radius: 40px;
    background: #FFFFFF;
    cursor: pointer;
    /* box-shadow: 0px 0px 1px 0px #C5C5C5; */
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.8px;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 40px;
    background: #E5DEFF;
    transition: all 0.3s;
    /* border: 2px solid var(--primary-color); */

    color: #68759A;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.8px;
}

.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    color: #68759A;
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked + .toggleContainer div:first-child{
    color: var(--text-field-heading);
    transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #070C29;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child{
    color: #070C29;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child{
    color: var(--text-field-heading);
    transition: color 0.3s;
}

.input-toggle-container .for-border{
    padding: 4px;
    /* border: 1px solid red; */
    border-radius: 40px;
    box-shadow: 0px 0px 1px 0px #C5C5C5;
}

.individual-input-container {
    display: grid;
    grid-template-columns: minmax(300px, 454px) minmax(300px, 454px) minmax(300px, 454px);
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
}

.input-container > div > div {
    display: flex;
    align-items: center;
    position: relative;
}

.input-container label {
    font-size: 1rem;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: var(--text-field-heading);
}

.input-container input {
    width: 100%;
    height: 50px;
    border: 1px solid #E3E8F9;
    border-radius: 18px;
    /* box-shadow: 0px 0px 1px 0px #C5C5C5; */
    padding-left: 44px;
    padding-right: 10px;
    line-height: 24px;
}

.input-container input:focus {
    border: 2px solid var(--second-secondary-color);
    outline: none;
}

/* .input-container > div:focus-within svg:first-child path {
    fill: var(--second-secondary-color);
    stroke: var(--second-secondary-color);
} */

.input-container > div > div svg {
    position: absolute;
    left: 10px;
}

.input-container input[type="password"] {
    padding-right: 35px!important;
}

.input-container .show-hide-icon {
    position: absolute;
    right: 10px;
    left: unset;
}

.company-other-inputs {
    display: grid;
    grid-template-columns: minmax(200px, 334px) minmax(200px, 334px) minmax(200px, 334px) minmax(200px, 334px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 25px;
    margin-top: 20px;
}


.terms-checkbox-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.terms-checkbox-container > input {
    margin-top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 6px!important;
    box-shadow: none;
    flex-shrink: 0;
}

.terms-checkbox-container > input:checked[type=checkbox] {
    background-color: var(--second-secondary-color);
    box-shadow: none;
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.terms-checkbox-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.terms-checkbox-label > a {
    color: var(--second-secondary-color);
    text-decoration: none;
    font-weight: 700;
}

.register-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.register-btn {
    max-width: 270px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 43px;
    background: var(--primary-color);
}

.register-btn > span {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.register-btn-container > span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.register-btn-container > span > a {
    text-decoration: none;
    font-weight: 700;
    color: var(--second-secondary-color);
}

.bottom-div {
    background: var(--pagination-color);
    box-shadow: 0px 0px 5px 2px #5266FF1A;
    padding-top: 17px;
    padding-bottom: 17px;
}

.bottom-div span,
.bottom-div a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    color: #ABAEC7;
    text-decoration: none;
}

.copyright-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.h-custom {
    height: calc(100vh - 60px);
}

.iti--separate-dial-code {
    width: 100%;
}

.iti__selected-flag {
    border-radius: 18px 0px 0px 18px;
}


@media (max-width: 1280px) {
    .individual-input-container {
        grid-template-columns: minmax(300px, 454px) minmax(300px, 454px);
    }

    .company-other-inputs {
        grid-template-columns: minmax(300px, 454px) minmax(300px, 454px);
    }
}


@media (max-width: 900px) {
    .signup-section {
        padding: 15px 20px;
        margin: 30px 20px;
        width: 90%;
    }

    .signup-section-header {
        gap: 10px;
        margin-bottom: 20px;
    }

    .signup-section-header h1 {
        font-size: 1.5rem;
        line-height: 44px;
        text-align: center;
    }
    
    .signup-section-header span {
        font-size: 1rem;
        line-height: 26px;
    }

    .input-toggle-container {
        margin-bottom: 20px;
    }

    .individual-input-container {
        grid-template-columns: minmax(200px, 454px);
    }

    .company-other-inputs {
        grid-template-columns: minmax(200px, 454px);
    }

    .terms-checkbox-container {
        justify-content: center;
    }
}


@media (max-width: 550px) {
    .toggleContainer {
        width: 100%;
    }

    .toggleContainer div {
        width: 100%;
    }
}


@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


.input-container-dropdown {
    width: 100%;
    height: 50px;
    border: 1px solid #E3E8F9;
    border-radius: 18px;
    /* box-shadow: 0px 0px 1px 0px #C5C5C5; */
    /* padding-left: 44px; */
    padding-right: 10px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.input-container-dropdown:has(.input-container-dropdown-btn.show){
    border: 2px solid var(--second-secondary-color);
}

/* .input-container-dropdown:has(.input-container-dropdown-btn.show) svg > path{
    fill: var(--second-secondary-color);
    stroke: var(--second-secondary-color);
} */

.input-container-dropdown-btn {
    width: 100%;
    height: 100%;
    padding: 0px 7px;
}

.input-container-dropdown-btn > div > svg {
    position: static!important;
}

.input-container-dropdown .input-selected-option-container {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.input-container-dropdown .input-selected-option-container > svg {
    position: static!important;
}

.input-container-dropdown .input-selected-option-container span {
    font-size: 1rem;
    line-height: 20.8px;
    color: var(--input-placeholder-color);
}

.input-container-dropdown .input-container-menu {
    width: 100%;
    padding: 0px;
    /* border: 1px solid #00000007; */
    border: none;
    box-shadow: 0px 0px 5px 2px #7C00F41A;
    min-width: unset;
    top: 4px!important;
    max-height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-container-dropdown .input-container-menu .dropdown-item {
    width: 100%;
    height: 45px;
    padding: 0px;
    /* box-shadow: 0px 0px 5px 2px #7C00F41A; */
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.input-container-dropdown .input-container-menu .dropdown-item:first-of-type {
    border-radius: 8px 8px 0px 0px;
}

.input-container-dropdown .input-container-menu .dropdown-item:last-of-type {
    border-radius: 0px 0px 8px 8px;
}

.input-container-dropdown .input-container-menu .dropdown-item:not(:first-of-type) {
    border-top: 1px solid #ABAEC7;
}

.input-container-dropdown .input-container-menu .dropdown-item label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-container-dropdown .input-container-menu .dropdown-item input {
    display: none;
}