<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link href="https://fastly.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'common/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'common/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'common/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'authentication/css/forgot_password.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'common/images/favicon.svg' %}" />
    
    <title>Flunter Forgot Password</title>
</head>
<body class="min-vh-100 position-relative d-flex flex-column align-items-center">
    {% include '../includes/navbar.html' %}
    <section class="w-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center pt-5 pb-5 ">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'authentication/images/forgot-password-img.svg' %}" class="img-fluid" alt="Sample image" />
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 login-form-container">
                    <div class="login-form-content">
                        <h1>Forgot Password</h1>
                        <span>Enter your email address to reset password we will send you reset instructions.</span>
                    </div>
                    <form class="w-100" onsubmit="forgotPasswordForm(event);" id="forgot-password-form">
                        {% csrf_token %}
                        <div class="login-input-group">
                            <div>
                                <label for="email">Email</label>
                                <div>
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.7143 7H4.88571C3.84606 7 3 7.79044 3 8.76176V16.9716C3 17.9429 3.84606 18.7333 4.88571 18.7333H18.7143C19.7539 18.7333 20.6 17.9429 20.6 16.9716V8.76176C20.6 7.79044 19.7539 7 18.7143 7ZM19.3429 16.9716C19.3429 17.2957 19.0613 17.5588 18.7143 17.5588H4.88571C4.53874 17.5588 4.25714 17.2957 4.25714 16.9716V10.9593L11.162 13.276C11.3675 13.3453 11.5838 13.3799 11.8 13.3799C12.0162 13.3799 12.2325 13.3453 12.4374 13.2766L19.3429 10.9593V16.9716ZM19.3429 9.71076L12.0118 12.1714C11.8754 12.2172 11.7252 12.2178 11.5875 12.1714L4.25714 9.71135V8.76176C4.25714 8.4376 4.53874 8.17451 4.88571 8.17451H18.7143C19.0613 8.17451 19.3429 8.4376 19.3429 8.76176V9.71076Z" fill="#5D5959" stroke="#5D5959" stroke-width="0.5"/>
                                    </svg>
                                    <input type="email" name="email" id="email" placeholder="abc@gmail.com" required />
                                </div>
                            </div>
                            <div class="error-div">
                                <small class="forgot-error-msg input-error-msg"></small>
                            </div>
                        </div>
                    </form>
                    <div class="login-btn-container">
                        <button class="login-btn" type="submit" form="forgot-password-form">
                            <span class="spinner-border spinner-border-md hide" role="status" aria-hidden="true"></span>
                            <span class="btn-text">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://fastly.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>
<script>
    window.API_BASE_URL = "{{ API_BASE_URL }}";
</script>
<script src="{% static 'common/js/common.js' %}"></script>
<script src="{% static 'authentication/js/forgotPassword.js' %}"></script>
</html>